/* #product-form {
    border-right: 1px solid #1C6EA4;
    border-bottom: 1px solid #1C6EA4;
    border-left: 1px solid #1C6EA4;
}
.card-header{
    border-top: 1px solid #1C6EA4;
    border-right: 1px solid #1C6EA4;
    border-left: 1px solid #1C6EA4;
} */